<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipro</title>
  </head>
  <body>
    <%- include('../navbar.ejs') %>
    <h1>Edit Recipe: <%= recipe.title %></h1>
    <h2><label for="title">Recipe Title</label></h2>
    <form action="/recipes/edit/<%= recipe.id %>" method="POST">
      <%- include('../errors.ejs') %>
      <input type="text" name="title" id="title" value="<%= recipe.title %>" />
      <button type="submit">Save</button>
    </form>
    <h2>Ingredients</h2>
    <ul>
      <% ingredients.forEach(ingredient => { %>
        <li>
          <%= ingredient.name %>, <%= ingredient.quantity %> <%= ingredient.unit %>
        </li>
      <% }) %>
    </ul>
    <a href="/recipes/ingredients/edit/<%= recipe.id %>">Edit Ingredients</a>
    <h2>Steps</h2>
    <p><%= recipe.steps %></p>
    <a href="/recipes/edit/steps/<%= recipe.id %>">Edit Steps</a>
    <br />
    <ul>
      <li>
        <a href="/recipes/<%= recipe.id %>">View Recipe Details</a>
        <a href="/">Back to Home</a>
      </li>
    </ul>
  </body>
</html>
